<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ערוך משימה</title>
    <!-- Link to Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">ערוך משימה</h1>

    <!-- Display flash messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-info">
        <ul class="list-unstyled">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}

    <form id="editForm" method="POST" action="{{ url_for('edit_todo', todo_id=todo_content.id) }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.text.label }}
            {{ form.text(class="form-control", id="editText") }}
        </div>
        <button type="submit" class="btn btn-primary">עדכן</button>
    </form>


    <!-- Link to go back to the ToDo list -->
    <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">בטל</a>
</div>

<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>
